@font-face {
  font-family: "futura-bold";
  src        : url("/src/font/futura/FuturaNowText-XBd.otf");
}

@font-face {
  font-family: "futura-medium";
  src        : url("/src/font/futura/FuturaNowText-Md.otf");
}

@font-face {
  font-family: "futura-light";
  src        : url("/src/font/futura/FuturaNowText-Rg.otf");
}
body{
  background-color: #F4F5F7 !important;
  overflow-x: hidden;
  color: #252f3f;

}
.maingrid{
  width: 1280px !important;
  margin:auto ;
}
.wrapper{
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
.Background1 {
  background: linear-gradient(276.35deg, #82297D 0%, #E12C61 151.04%), #E92A5E; ;
  /* background-image   : url(./Images/backgroundd1.png); */
  background-size    : cover;
  background-repeat  : no-repeat;
  background-position: center;
  height: 480px;
}
.bg-white {
  --bs-bg-opacity: 1;
  background-color: #FFFFFF!important;
}
.text-gray {
  font-style: normal !important;
font-weight: 800 !important;
font-size: 16px !important;
line-height: 24px !important;
/* identical to box height, or 150% */

letter-spacing: -0.02em !important;

/* gray/400 */


color: #9FA6B2 !important;
}
.primary-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 24px 12px;

  position: static;
  /* width     : 196px; */
  height: 44px;
  left: 0px;
  top: 144px;
  border: 1px solid #e5386a;
  background: #e5386a;
  border-radius: 8px;

}
.NavButton {
  background-color: #e12c61 !important;
  color: white !important;
  font-weight: bold !important;
  outline: none;
  border-radius: 8px !important;
  margin-right: 68px !important;
}

.navline{
  border: 1px solid #E5E7EB;
transform: rotate(90deg);
width: 32px;
height: 0px;
}
/* .upper-card {
  margin-top: -125px !important;
} */
.edge {
  border-radius: 10px !important;
}

.font-light {
  font-family: "futura-light";
}
.shadow {

    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;

}

.font-medium {
  font-family: "futura-medium";
}
.logo{
  height: 100px;
  width: 100px;
}

.ml10{
  margin-left: 10px;
}
.font-bold {
  font-family: "futura-bold";
}

li.MuiMenuItem-root {
  font-family: "futura-light";
}
@media screen and (max-width: 400px) {

    .mx-04 {
      margin-right: 0rem!important;
      margin-left: 0rem!important;
  
  }
  /* .upper-card {
    margin-top: -181px !important;
} */
  .header {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 40px !important;
    /* line-height: 72px !important; */
    margin-top: 80px;
    letter-spacing: -0.04em !important;
    color: #FFFFFF !important;
}

}
@media screen and (max-width: 375px) {

  /* .upper-card {
    margin-top: -181px !important;
} */
  .header {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 40px !important;
    /* line-height: 72px !important; */
    margin-top: 80px;
    letter-spacing: -0.04em !important;
    color: #FFFFFF !important;
}
}
.mx-04{
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.font-32 {
  font-size     : 16px;
  /* line-height   : 2.5rem; */
  letter-spacing: -0.01em;
  color         : #1a202e;
}
.font-33 {
  /* font-size     : 16px; */
  /* line-height   : 2.5rem; */
  letter-spacing: -0.01em;
  color         : #1a202e;
}
.font-40 {
  font-size     : 2.5rem;
  line-height   : 3rem;
  letter-spacing: -0.01em;
  color         : #1a202e;
}

.apexcharts-gridlines-horizontal line,
.apexcharts-xaxis-tick {
  /* display: none; */
}

#LineChart .apexcharts-series path {
  fill: none !important;
}

.font-12 {
  font-size  : 0.8rem;
  line-height: 1.1rem;
}

.font-14 {
  font-size  : 0.875rem;
  line-height: 1.5rem;
}

.font-16 {
  font-size: 1rem;
}

.pl-1 {
  padding-left: 3px;
}

.text-grey {
  color: #97a6ba !important;
}

.bodr-white {
  border: 1px solid white !important;
}

.center {
  align-items    : center;
  display        : flex;
  justify-content: center;
}

.cards-box .card.hide {
  visibility: hidden;
}

/* inputButton */

.AddedButton {
  /* This bit sets up the horizontal layout */
  display       : flex;
  flex-direction: row;

  box-shadow: 0px 10px 20px -8px #323c5a;

  /* I've used padding so you can see the edges of the elements. */
  padding   : 5px;
  background: white;
}

.AddedButton input {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border   : none;
}

.AddedButton input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

.AddedButton button {
  /* Just a little styling to make it pretty */
  border    : none;
  background: #e43969;
  color     : white;
}

/* Cards Carousal */

.banner-slider-container div.card {
  width: 100%;
}

.cards-box {
  position: relative;
}

.cards-box .card {
  height       : 100%;
  max-width    : 80vw;
  background   : #ffffff;
  border-radius: 14px;
  cursor       : pointer;
}

.cards-box .card.hide {
  visibility: hidden;
}

.cards-box .card:not(.hide) {
  position  : absolute;
  top       : 0;
  right     : 0;
  transition: all 0.8s cubic-bezier(0.18, 0.98, 0.45, 1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
}

.cards-box .card:not(.hide)[data-slide="0"] {
  transform: translate(0px, 1px) scale(1);
  z-index  : 6;
  opacity  : 1;
}

.cards-box .card:not(.hide)[data-slide="1"] {
  transform: translate(-3%, 1px) scale(0.9);
  z-index  : 5;
  opacity  : 0.9;
}

.cards-box .card:not(.hide)[data-slide="2"] {
  transform: translate(-12%, 1px) scale(0.8);
  z-index  : 4;
  opacity  : 0.8;
}

.cards-box .card:not(.hide)[data-slide="3"] {
  transform: translate(-18%, 1px) scale(0.7);
  z-index  : 3;
  opacity  : 0.7;
}

.cards-box .card:not(.hide)[data-slide="4"] {
  transform: translate(-25%, 1px) scale(0.6);
  z-index  : 2;
  opacity  : 0.6;
}

.cards-box .card:not(.hide)[data-slide="5"] {
  transform: translate(-25%, 1px) scale(0.6);
  z-index  : 1;
  opacity  : 0.5;
}

.cards-box .card:not(.hide)[data-slide="0"] {
  transition: all 0.32s cubic-bezier(0.18, 0.98, 0.45, 1);
}

.content-placeholder {
  padding: 10px;
  height : 100%;
  width  : auto;
}

.content-placeholder img {
  border-radius: 14px;
  object-fit   : cover;
  height       : 100%;
}

.BannerNav {
  background-color: white !important;
  font-size       : 15px;
  padding         : 5px;
  margin          : 0px 5px;
}

.BannerNav.active,
.BannerNav:hover {
  background: #e43969 !important;
  color     : white !important;
}

/* Markets */
.Heading {
  font-size     : 32px;
  font-style    : normal;
  font-weight   : 600;
  line-height   : 47px;
  letter-spacing: 0px;
  text-align    : center;
}

.stock-type span {
  font-size        : 14px;
  font-style       : normal;
  font-weight      : 500;
  letter-spacing   : 0px;
  text-align       : center;
  /* padding       : 10px; */
  cursor           : pointer;
  transition       : all 0.2s;
  margin           : 0 17px;
  position         : relative;
}

.stock-type span:hover {
  color: #e43969;
}

.stock-type span.Active {
  border-bottom: 1px solid #e43969;
  color        : #e43969;
}

.stock-type span.Active:after {
  content   : " ";
  position  : absolute;
  width     : calc(100% - 20px);
  height    : 1px;
  background: #e43969 !important;
  bottom    : -8px;
  transform : translateX(-50%);
  left      : 50%;
}

.stock-type,
.stock-company {
  overflow-y    : auto;
  padding-bottom: 15px;
}

.stock-type::-webkit-scrollbar,
.stock-company::-webkit-scrollbar {
  display: none;
}

.stock-company div img {
  object-fit: contain;
  height    : 3rem;
  cursor    : pointer;
  filter    : grayscale(1);
  transition: all 0.2s;
}

.stock-company div.Active img,
.stock-company div img:hover {
  filter: none !important;
}

/* .d-flex.stock-company div {
  margin: 25px 15px;
  position: relative;
} */

/* .stock-company div.Active:after {
  content: " ";
  height: 10px;
  width: 10px;
  background: #e43969 !important;
  position: absolute;
  border-radius: 50%;
  top: -9px;
  right: -14px;
}*/

.css-eg0mwd-MuiSlider-thumb:before,
.css-7drnjp::before {
  background: #E5386A !important;
}

.css-1aznpnh-MuiSlider-root,
.MuiSlider-track.css-1t2bqnt,
.MuiSlider-rail.css-b04pc9 {
  color : #e2e8f0 !important;
  height: 8px !important;
}

.css-1tfve6q-MuiSlider-mark,
.css-6cwnna-MuiSlider-mark {
  width : 2px !important;
  color : white !important;
  height: 8px !important;
}

.css-yafthl-MuiSlider-markLabel,
.css-1eoe787-MuiSlider-markLabel {
  font-size     : 8px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 12px;
  letter-spacing: 0px;
  text-align    : center;
}

.css-1kz0hui-MuiSlider-valueLabel {
  display: none !important;
}

.borderRight {
  border-right: 1px solid rgb(127, 130, 137);
}

.TextLabel {
  font-size     : 18px;
  font-style    : normal;
  font-weight   : 600;
  line-height   : 47px;
  letter-spacing: 0px;
  text-align    : left;
}

.textComp {
  line-height   : 18px;
  font-size     : 12px;
  font-weight   : 400;
  margin-top    : -30px;
  letter-spacing: 6px !important;
}

.apexcharts-yaxis,
#LineChart .apexcharts-xaxis,
.apexcharts-toolbar {
  /* display: none !important; */
}

.graphPrice {
  font-size     : 24px;
  font-style    : normal;
  font-weight   : 600;
  line-height   : 36px;
  letter-spacing: 0px;
}

.graphPer {
  color        : #43af53;
  margin-bottom: 0px;
}

.stock-amount-main p {
  color: #98a5ba;
  margin-top: 32px;
}

.stock-amount-slider {
  /* margin-left: 10px; */
  /* width: 320px ; */
  /* margin-left: 10px; */
}
.selectborder {
  border:1px solid #eaeef2  !important

}
.css-1eoe787-MuiSlider-markLabel {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.87);
  position: absolute;
  white-space: nowrap;
  top: 30px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: 10px !important;
}
div#market_select {
  /* color         : #E5386A;
  font-weight   : bolder;
  font-size     : 32px;
  padding-top   : 0;
  padding-bottom: 0;
  line-height   : 1.2;
  padding-left  : 0; */
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
font-family: "futura-bold";
/* identical to box height, or 150% */


/* gray/800 */

color: #252F3F;

}

h2.stock-amount-main-text strong {
  padding-right: 7px;
}

.css-1aznpnh-MuiSlider-root {
  border-radius: 12px;
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
  touch-action: none;
  color: #1976d2;
  -webkit-tap-highlight-color: transparent;
  height: 4px;
  width: 96% !important;
  padding: 13px 0;
  margin-bottom: 20px;
}
.css-9cct2k {
  border-radius: 12px;
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
  touch-action: none;
  color: rgb(25, 118, 210);
  -webkit-tap-highlight-color: transparent;
  height: 4px;
  width: 96% !important;
  padding: 13px 0px;
  margin-bottom: 20px;
}
.css-sxo8tj {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.87);
  position: absolute;
  white-space: nowrap;
  top: 30px;
  transform: translateX(-50%);
  margin-left: 3%;
}
/* .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root { 
  font-family   : "futura-bold" !important;

  font-style: normal !important;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 24px !important;






  width: 100% !important;
  border: 1px solid #eaeef2 !important;
} */
div#market_select~fieldset {
  border: none;
}

span.MuiSlider-track.css-1gv0vcd-MuiSlider-track {
  color: #E5386A;
}

.chart-area {
  /* background: #f5f6f8; */
  margin-top: -4px;
  /* padding   : 50px; */
  /* padding-right: 30px; */
  padding-top: 0;
}
.border {
  border:1px solid #eaeef2
}

.chart-area-numbers {
  margin-bottom : 15px;
  padding-bottom: 25px;
}

.stock-company {
  /* justify-content: space-between; */
}
.navlogo{
  /* margin-left: 68px !important;  */
  display: flex;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 18px;
}
@font-face {
  font-family: 'Futurastd';
  src: url('https://uploads-ssl.webflow.com/62135fdbd85a60c2f528095e/62135fdbd85a60038628098e_FuturaStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.navloginbtn{
  margin-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    background-color: #e92a5e;
    -webkit-transition-property: all;
    transition-property: all;
    color: #fff;
    border:none
}
.navregbtn{
  margin-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  -webkit-transition-property: all;
  transition-property: all;
  color: #e92a5e;
  /* border:#e92a5e; */
  border: 1px solid #e92a5e;
    background-color: #fff;
    color: #e92a5e;
}
.navlinks {
  color: #999 !important;
  /* padding: 8px 16px !important; */
  font-family: "futura-bold";
font-weight: 700 !important;
  line-height: 20px !important;
  font-size: 14px !important;
  font-weight: bolder !important;
  position: relative !important;
    display: inline-block !important;
    vertical-align: top !important;
    text-decoration: none !important;
    color: #222;
    /* padding: 18px !important; */
    /* text-align: left !important; */
    margin-left: auto !important;
    margin-right: auto !important;
 

}
.bottom-text i {
  color       : #e5386a;
  margin-right: 5px;
}

a.btn_secondary {
  background     : #e5386a;
  color          : white !important;
  text-decoration: none;
width: 150px;
  padding        : 17px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  border-radius  : 10px;
  margin         : 40px 0 0;
  margin-bottom: 140px;
  margin-top: 80px;
}

.graph-loader {
  height: 4px;
}


.css-eglki6-MuiLinearProgress-root {
  background-color: #e4396917 !important;
}

.css-5ir5xx-MuiLinearProgress-bar1,
.css-1r8wrcl-MuiLinearProgress-bar2 {
  background-color: #E5386A !important;
}

.bulletText:before {
  content  : "•";
  color    : #44b153;
  font-size: 26px;
}

.bulletText {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  /* .sliding {
    justify-content: center !important;
  } */
  .adresswrapd{
    margin-bottom: 120px !important;
  }
  /* .h2 {
    color: #252f3f;
    margin-bottom: 0 !important;
    font-size: 40px !important;
    line-height: 48px !important;
    font-weight: 700 !important;
    letter-spacing: -.05em !important;
  } */
  .section.contact {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
  }
  .adresswrap{
    margin-top: 120px !important;
  }
  .selectassetdiv{
    border-radius: 10px;
    margin-right: 16px;
    /* margin-left: 80px !important; */
    height: 400px;
    margin-top: -125px !important;
    /* margin-left: 55px; */
    /* width: 480px !important; */
  /* margin-left: 30px; */
  background-color: white;
  }
  
}
/* .selectassetdiv{
  border-radius: 10px;
  margin-right: 16px;
  height: 421px;
  margin-top: -125px !important;

 
background-color: white;
} */
@media only screen and (max-width: 768px) {
  .borderRight {
    border-right: 0px;
  }
  /* .selectassetdiv{
    border-radius: 10px;
    margin-right: 10px;
    height: 500px;
    width: 480px !important;


    margin-left: 55px;
  } */
  .imagediv{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 63px;
      /* width: 180px; */
      margin-left: 5px;
      border-radius: 10px;
  }
  
  .companydiv{
    display: flex;
    
  }
  .stock-amount-slider {
    /* margin-left: 10px; */
    width: 100%;
    /* margin-left: 10px; */
  }
  .chardiv{
    /* width: 890px !important; */
    height: 830px;
    border-radius: 10px;
    /* margin-right: 10px; */
    background-color: white;
   margin-top: 190px !important;
    width: 100% !important;
  
  }
  .sliderrow {
    margin-left: 19px !important;
    margin-right: 16px !important;
  }
    /* .upper-card {
      margin-top: -181px !important;
  } */
    .header {
      font-style: normal !important;
      font-weight: 800 !important;
      font-size: 40px !important;
      /* line-height: 72px !important; */
      margin-top: 40px;
      letter-spacing: -0.04em !important;
      color: #FFFFFF !important;
  }
  .selectassetdiv {
    border-radius: 10px;
    /* margin-right: 18px !important; */
    height: 450px;
    /* margin-left: 55px; */
    width: 100% !important;

    /* margin-left: 80px; */
    margin-top: -181px !important;
    background-color: white;
}
.expectChngdiv{
  display: grid;
  width:47.666667% !important;
  /* margin-left: 30px; */
  background-color: white !important;
    /* justify-content: center; */
    align-items: center;
    height: 124px;

    border-radius: 10px;
} 
.expectRevdiv{
  display: grid;
  background-color: white;
    /* justify-content: center; */
    align-items: center;
    width:47.666667%  !important;
margin-left: 13px;
    height: 124px;
    border-radius: 10px;
}
  .mobile-hidden {
    display: none;
  }

  .css-1aznpnh-MuiSlider-root {
    width: 96% !important;
  }

  .mb-p-0 {
    padding: 0 !important;
  }

  .chart-area {
    padding: 15px !important;
  }
}

.apexcharts-xaxistooltip.apexcharts-xaxistooltip-bottom.apexcharts-theme-light.apexcharts-active {
  display: none;
}

/* .apexcharts-tooltip {
  display: none !important;
} */
.apexcharts-series path {
  filter: none;
}

#SvgjsText1267 {
  display: none;
  height : 0
}

/* .selectassetdiv{
  border-radius: 10px;
  margin-right: 10px;
  height: 500px;
  margin-left: 55px;
} */

.middleDiv{
  margin-top: 30px;
}
.middletext{
  margin-top: 70px;
  /* background-color: #97a6ba; */
  margin-left: 48px;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 64px !important;
  line-height: 72px !important;
  /* or 112% */
  
  letter-spacing: -0.04em !important;
  
  /* white */
  
}
/* .chardiv{
  width: 930px !important;
  height: 750px;
  border-radius: 10px;
  margin-right: 80px;
  background-color: white;
} */
.cardsdiv{
  margin-bottom: 104px;
}
.secondiv{
  /* margin-left: 400px; */
}
.expectChange{
  width: 259px !important;
    margin-right: 16px;
    height: 98px
}
.address{
 color:  #98a5ba;
 font-weight: bold;
}
.address1{
  color:  #98a5ba;
  font-weight: bold;
  margin-top: 13px;
 }
.logos{
  color:  #98a5ba;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-top: 24px !important;
}

.addressdiv{
/* height: 400px; */
background-color: white;
/* border-bottom: 1px solid #E2E8F0 !important; */

/* border-bottom: inset; */

}
.footerdiv{
  /* height: 600px; */
  background-color: white;
  
  }
.contactus{
  background     : #e5386a;
  color          : white !important;
  text-decoration: none;
  min-width      : 100%;
  padding        : 17px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  border-radius  : 10px;
  margin-bottom: 30px;
  margin         : 40px 0 0;
 
}
.msg{
  font-weight: 800;
  font-size: 2.2rem;
  color: #252F3F
  ;
}
.msgcol{
  margin-top: 120px !important;
}
.Link{
  text-decoration: none;
}
/* .expectRevdiv{
  display: grid;
  background-color: white;
    justify-content: center;
    align-items: center;
    width:230px !important;
margin-left: 10px;
    height: 124px;
    border-radius: 10px;
} */

@media (min-width: 768px)
{
  .expectRevdiv{
    display: grid;
    background-color: white;
      /* justify-content: center; */
      align-items: center;
      width:47.666667%  !important;
  margin-left: 16px;
      height: 124px;
      border-radius: 10px;
  }
  .h2 {
    margin-top: 0!important;
    color: #252f3f;
    margin-bottom: 0!important;
    font-size: 40px!important;
    line-height: 48px!important;
    font-weight: 700!important;
    letter-spacing: -.05em!important;
}
  .expectChngdiv{
    display: grid;
    width:47.666667% !important;
    /* margin-left: 30px; */
    background-color: white !important;
      /* justify-content: center; */
      align-items: center;
      height: 124px;
  
      border-radius: 10px;
  } 
  .adresswrapd{
    margin-bottom: 120px !important;
  }
  .adresswrap {
    margin-top: 120px !important;
}
.fonttopmargin{
margin-top: 120px!important;
}
  .header {
    font-style: normal !important;
  font-weight: 800 !important;
  font-size: 64px !important;
  line-height: 72px !important;
  /* or 112% */
  margin-top:40px;
  
  letter-spacing: -0.04em !important;
  
  /* white */
  
  color: #FFFFFF !important;
  }
}
@media (min-width: 992px)

{
  .selectassetdiv{
    border-radius: 10px;
    margin-right: 16px;
    /* margin-left: 80px !important; */
    height: 420px;
    margin-top: -125px !important;
    /* margin-left: 55px; */
    /* width: 480px !important; */
  /* margin-left: 30px; */
  background-color: white;
  }
  .expectRevdiv{
    display: grid;
    background-color: white;
      /* justify-content: center; */
      align-items: center;
      width:46.666667%  !important;
  margin-left: 16px;
      height: 124px;
      border-radius: 10px;
  }
  .h2 {
    margin-top: 0!important;
    color: #252f3f;
    margin-bottom: 0!important;
    font-size: 40px!important;
    line-height: 48px!important;
    font-weight: 700!important;
    letter-spacing: -.05em!important;
}
  .expectChngdiv{
    display: grid;
    width:47.666667% !important;
    /* margin-left: 30px; */
    background-color: white !important;
      /* justify-content: center; */
      align-items: center;
      height: 124px;
  
      border-radius: 10px;
  } 
  .adresswrapd{
    margin-bottom: 120px !important;
  }
  .adresswrap {
    margin-top: 120px !important;
}
.fonttopmargin{
margin-top: 120px!important;
}
  .header {    font-style: normal !important;
  font-weight: 800 !important;
  font-size: 64px !important;
  line-height: 72px !important;
  /* or 112% */
  margin-top:120px;
  
  letter-spacing: -0.04em !important;
  
  /* white */
  
  color: #FFFFFF !important;
  }
}
.helpicon{
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}



.imagediv:hover{
  background: #FFF5F8;
border: 1px solid #E92A5E !important;
}
.disclaimer{
  margin-top: 8px;
  font-size: 14px;
}
.dis{
  margin-top: 24px !important;
  font-weight: 800;
  margin-top: 40px !important;
}
.disclaimer{
  color: #9FA6B2
  ;
}
.footertags{
font-style: normal;
font-weight: bolder;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

/* letter-spacing: -0.01em; */

color: #E92A5E;
}
.tagdiv{
  display: grid;

}
.tagdiv1{
  display: grid;
  margin-right: 60px;
  margin-left: 17px !important

}




/* @media screen 
  and (min-device-width: 1559px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .chardiv{
      width: 930px !important;
      height: 750px;
      border-radius: 10px;
      margin-right: 80px;
      background-color: white;
    }
} */
@media only screen  and (max-width :  576px) {
  .selectassetdiv {
    border-radius: 10px;
    /* margin-right: 18px !important; */
    height: 440px;
    /* margin-left: 55px; */
    width: 100% !important;

    /* margin-left: 80px; */
    margin-top: -181px !important;
    background-color: white;
}
.companydiv {
  margin-right: 8px;
}
.navlinks {
  text-align: center;
}
.chart-area {
  /* background: #f5f6f8; */
  margin-top: -49px;
  /* padding   : 50px; */
  /* padding-right: 30px; */
  padding-top: 0;
}

.wrapper {
  max-width: 324px !important;
}

.loginBtn{
  width: 91%;
  margin-bottom: 5px !important;
}
.regBtn{
  width: 91%;
  margin-bottom: 5px !important;
}
.h2 {
  /* margin-top: 0 !important; */
  color: #252f3f;
  margin-bottom: 0 !important;
  font-size: 24px !important;
  /* line-height: 48px !important; */
  font-weight: 700 !important;
  letter-spacing: -.05em !important;
}
.section.contact {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.adresswrap{
  margin-top: 120px !important;
  
  }
.addessmargin{
  margin-top: 0px !important;
}
  .adresswrapd {
    margin-bottom: 0px !important;
}
.stock-amount-slider {
  /* margin-left: 10px; */
  width: 235px;
  /* margin-left: 10px; */
}
.companydiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.imagediv {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 63px;
  /* width: 180px; */
  margin-top: 13px;
  margin-left: 10px;
  border-radius: 10px;
}

.expectChngdiv{
  display: grid;
  width:47.666667% !important;
  /* margin-left: 30px; */
  background-color: white !important;
    /* justify-content: center; */
    align-items: center;
    height: 124px;

    border-radius: 10px;
} 
.expectRevdiv{
  display: grid;
  background-color: white;
    /* justify-content: center; */
    align-items: center;
    width:47.666667%  !important;
margin-left: 13px;
    height: 124px;
    border-radius: 10px;
}
.chardiv{
  /* width: 890px !important; */
  height: 830px;
  border-radius: 10px;
  /* margin-right: 10px; */
  background-color: white;
 margin-top: 190px !important;
  width: 100% !important;

}
.sliderrow {
  margin-left: 19px !important;
  margin-right: 16px !important;
}
  /* .upper-card {
    margin-top: -181px !important;
} */
  .header {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 40px !important;
    /* line-height: 72px !important; */
    margin-top: 80px;
    letter-spacing: -0.04em !important;
    color: #FFFFFF !important;
}
/* .upper-card {
  margin-top: -181px !important;
} */
   }
   @media (min-width: 768px){
    .chardiv{
     /* width: 890px !important; */
     height: 730px;
     border-radius: 10px;
     /* margin-right: 10px; */
     background-color: white;
    margin-top: 180px !important;
     width: 100% !important;
 
   }
   .addessmargin{
    margin-top: 120px !important;
  }
   .companydiv{
  display: flex;
  }
   .imagediv{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 63px;
      width: 180px;
      margin-left: 5px;
      border-radius: 10px;
  }
  
   
  }
  @media (min-width: 992px){
    .chardiv{
     /* width: 890px !important; */
     height: 730px;
     border-radius: 10px;
     /* margin-right: 10px; */
     background-color: white;
    margin-top: -125px !important;
     width: 64.333333% !important;
 
   }
   .addessmargin{
    margin-top: 120px !important;
  }
   .companydiv{
  display: flex;
  }
   .imagediv{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 63px;
      width: 180px;
      margin-left: 5px;
      border-radius: 10px;
  }
  
   
  }

  


   /*  */
.rating{
  color:#9FA6B2;
  margin-top: 20px;
}
.ratingdiv{
  background-color: #F4F5F7;
  display: flex;
  border-radius: 10px;
  margin-bottom: 30px !important;
  /* margin-top: 5px !important; */
}
.marginLeftHead{
  margin-left: 68px !important;
}
.containermargin{
  margin-left: 80px !important;
  margin-right: 80px !important;

}
/* .container-fluid{
  margin-left: 80px !important;
  margin-right: 80px !important;

} */
.marginLeftHead{
  margin-left: 68px !important;
}
.marginLeft{
  margin-left: 80px !important;
}
.marginRight{
  margin-right: 80px !important;
}
.marginfourty{
  margin-left: 28px;
  margin-right: 28px;
}
.marginfright{
margin-right: 40px;
}
.marginleft{
  margin-left: 80px !important
}
.margineghity{
  margin-left: 68px !important;
  margin-right: 68px !important;
}
.displayflex{
  display: flex;
  justify-content: space-between;
}
.amount{
/* width: 200px; */
}
.flexbar{
  display: flex;
  padding-left: 5px;
  /* margin-right: 29; */
}
.logorow{
  margin-left: 68px !important;
margin-bottom: 64px !important;
margin-right: 40px !important;
}

.footerow{
  margin-left: 80px !important;
  margin-right: 80px !important;
}
.addressrow{
  margin-left: 68px !important;
  margin-right: 50px !important;
}
.space{
  margin-left: 15px;
}
.lastfooter{
  align-items: center;
  margin-top: 8px !important;
  margin-bottom: 87px !important;
}

.cardsrow{
  margin-left: 75px !important;
  margin-right: 65px !important
}
.nogutter {
  /* margin-left: 0 !important; */
  --bs-gutter-x: 0 !important;
}

.sliderrow{
  margin-left: 19px !important;
    /* margin-right: 0px !important; */

}
.select{
  border-radius: 8px !important;
}
.logofooter{
  margin-top: 73px !important;
}
.msgcol1{
  margin-top: 73px !important;
}

.borderline{
  border: 1px solid #E2E8F0;
}
.amount{
  margin-bottom: 15px;
}
.css-yafthl-MuiSlider-markLabel {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  white-space: nowrap;
  top: 30px;
  /* padding-right: 22px; */
  
  transform: translateX(-50%);
}
.css-1k51tf5-MuiTooltip-tooltip {
  
  background-color: #252F3F !important;
  /* padding: 20px 10px 20px 10px; */

  border-radius: 10px !important;
  padding: 16px !important;
  font-style: normal !important;
font-weight: 500 !important;
font-size: 14px !important;
line-height: 20px !important;
/* or 143% */
width: 80% !important;

letter-spacing: -0.04em !important;

color: #FFFFFF !important;
 
}
/* .css-1k51tf5-MuiTooltip-tooltip {
  background-color: yellow !important;
  border-radius: 4px;
  color: #fff;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  padding: 4px 8px;
  font-size: 0.6875rem;
  max-width: 300px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  position: relative;
} */
.navigationbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
}

.ncl {
  display: none;
}

.navlinks {
  padding: 8px 16px;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  color: #999;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.navlinks:hover {
  color: #e92a5e !important;
}

.active,.navlinks.w--current {
  color: #e92a5e !important;
}

.navlinks.buttons {
  margin-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  background-color: #e92a5e;
  -webkit-transition-property: all;
  transition-property: all;
  color: #fff;
}
.w-nav-link{
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  /* text-align: left; */
  margin-right: auto;
}
.navlinks.buttons:hover {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.42);
}

.navlinks.buttons._2 {
  border: 1px solid #e92a5e;
  background-color: #fff;
  color: #e92a5e !important; 
}
.navlinks.buttons {
  margin-left: 16px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border-radius: 8px !important;
    transition-property: all !important;
    color: white !important;
}


.ncl-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
}

.w-input{
  vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 38px;
    padding: 8px 12px;
    display: block;
}

.searchinput {
  width: 130px;
  outline: none !important;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #6b7280;
  font-size: 15px;
  line-height: 20px;
}

.navwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 2rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.field-label {
  display: none;
}

.navigationmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.searchbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  margin-left: 16px;
}

.searchbutton {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background-color: #e92a5e;
  font-size: 14px;
  line-height: 18px;
  height: 42px;
  margin-right: 21px;

}
.w-button{
  display: inline-block;
    padding: 9px 15px;
    color: white;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

@media screen and (max-width: 479px) {
  .navbutton.w--open {
    border-radius: 8px;
    background-color: #e92a5e;
  }
  .locations {
    grid-auto-flow: row !important;
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
}
  /* .upper-card {
    margin-top: -181px !important;
} */
  .navlinks {
    text-align: center;
  }

  .searchinput {
    width: 205px;
  }
  .header {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 40px !important;
    /* line-height: 72px !important; */
    margin-top: 80px;
    letter-spacing: -0.04em !important;
    color: #FFFFFF !important;
}

  .navwrapper {
    max-width: 308px;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .navigationmenu {
    background-color: #fff;
  }

  .searchbar {
    margin-left: 26px;
  }
}

.contactgrid{
  display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 2.75fr 1fr;
}
.buttoncontainer{
  display: flex;
    margin-top: 80px;
}
.primarybutton {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #e92a5e;
  transition: 350ms;
  font-size: 18px;
}
.w-button {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}
.bt {
  color: #252f3f !important;
  font-weight: 700 !important;
  text-decoration: none !important;
  
}
.text-span {
  color: #e92a5e;
}
.locationlhr {
  margin-top: 40px;
}



.footer {
  padding-bottom: 80px;
}

.footergist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.socialicon {
  margin-left: 16px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #9fa6b2;
  text-decoration: none;
}

.socialicon:hover {
  color: #e92a5e;
}

.dividerline {
  height: 1px;
  background-color: #f4f5f7;
}

.disclaimerr {
  margin-top: 40px;
}

.blt {
  display: block;
  margin-top: 16px;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  color: #9fa6b2;
  text-decoration: none;
}

.blt:hover {
  color: #e92a5e;
}

.sociallinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.trec {
  margin-top: 24px !important;
}
.bt.grey.small {
  font-size: 14px;
}

.rights{
  color:#6b7280
}
.ntn{
font-size: 14px !important;
color: #6b7280 !important;
font-weight: 700 !important;
    text-decoration: none;
}
.secp._2 {
  margin-left: 16px;
}
.footergrid {
  display: -ms-grid;
  display: grid;
  margin-top: 80px;
  margin-bottom: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2.5fr 1fr 1fr 1fr;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footernotes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}



.p2grey {
  color: #9fa6b2 !important;
  margin-bottom: 0px !important;
  /* font-weight: 500 !important; */
  font-family: 'futura-light';
  font-size: 15px !important;
}

@media screen and (max-width: 991px) {
  .contactgrid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
 
  .locations {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .locationlhr {
    margin-top: 0px;
  }

  .wrapper {
    max-width: 740px;
  }

  .section.contact {
    padding-bottom: 80px;
  }

  .footergrid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .navbutton.w--open {
    border-radius: 8px;
    background-color: #e92a5e;
  }
  /* .upper-card {
    margin-top: -181px !important;
} */
  .header {
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 40px !important;
    /* line-height: 72px !important; */
    margin-top: 80px;
    letter-spacing: -0.04em !important;
    color: #FFFFFF !important;
}
  .navlinks {
    text-align: center;
  }

  .searchinput {
    width: 208px;
  }

  .navwrapper {
    max-width: 308px;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .navigationmenu {
    background-color: #fff;
  }

  .searchbar {
    margin-left: 26px;
  }

  .contactgrid {
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .wrapper {
    max-width: 308px;
  }

  .gray {
    text-align: left;
    color: #6b7280 !important;
  }

  .footergist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ratings {
    margin-top: 24px;
  }

  .brand-symbol {
    margin-bottom: 80px;
  }

  .sociallinks {
    margin-top: 24px;
  }

  .footergrid {
    -ms-grid-columns: 2.5fr;
    grid-template-columns: 2.5fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .footernotes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#w-node-_12de1f96-2ddc-8e9b-2aa4-cdb8f6b0a35f-56091cf7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_12de1f96-2ddc-8e9b-2aa4-cdb8f6b0a368-56091cf7 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}
.navul{
align-items: center;
}
.logosflex{
  display: flex !important;
}
