@font-face {
  font-family: "futura-bold";
  src        : url("/src/font/futura/FuturaNowText-XBd.otf");
}

@font-face {
  font-family: "futura-medium";
  src        : url("/src/font/futura/FuturaNowText-Md.otf");
}

@font-face {
  font-family: "futura-light";
  src        : url("/src/font/futura/FuturaNowText-Rg.otf");
}
body{
  background-color: #F4F5F7 !important;
  overflow-x: hidden;
}
.maingrid{
  width: 1280px !important;
  margin:auto ;
}
.wrapper{
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
.Background1 {
  background: linear-gradient(276.35deg, #82297D 0%, #E12C61 151.04%), #E92A5E; ;
  /* background-image   : url(./Images/backgroundd1.png); */
  background-size    : cover;
  background-repeat  : no-repeat;
  background-position: center;
  height: 480px;
}
.bg-white {
  --bs-bg-opacity: 1;
  background-color: #FFFFFF!important;
}
.text-gray {
  font-style: normal !important;
font-weight: 800 !important;
font-size: 16px !important;
line-height: 24px !important;
/* identical to box height, or 150% */

letter-spacing: -0.02em !important;

/* gray/400 */


color: #9FA6B2 !important;
}
.primary-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 24px 12px;

  position: static;
  /* width     : 196px; */
  height: 44px;
  left: 0px;
  top: 144px;
  border: 1px solid #e5386a;
  background: #e5386a;
  border-radius: 8px;

}
.NavButton {
  background-color: #e12c61 !important;
  color: white !important;
  font-weight: bold !important;
  outline: none;
  border-radius: 8px !important;
  margin-right: 68px !important;
}

.navline{
  border: 1px solid #E5E7EB;
transform: rotate(90deg);
width: 32px;
height: 0px;
}
.upper-card {
  margin-top: -125px !important;
}
.edge {
  border-radius: 10px !important;
}

.font-light {
  font-family: "futura-light";
}
.shadow {

    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;

}

.font-medium {
  font-family: "futura-medium";
}
.logo{
  height: 100px;
  width: 100px;
}

.ml10{
  margin-left: 10px;
}
.font-bold {
  font-family: "futura-bold";
}

li.MuiMenuItem-root {
  font-family: "futura-light";
}
@media screen and (max-width: 400px) {

    .mx-04 {
      margin-right: 0rem!important;
      margin-left: 0rem!important;
  
  }
}
.mx-04{
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.font-32 {
  /* font-size     : 2rem; */
  line-height   : 2.5rem;
  letter-spacing: -0.01em;
  color         : #1a202e;
}

.font-40 {
  font-size     : 2.5rem;
  line-height   : 3rem;
  letter-spacing: -0.01em;
  color         : #1a202e;
}

.apexcharts-gridlines-horizontal line,
.apexcharts-xaxis-tick {
  /* display: none; */
}

#LineChart .apexcharts-series path {
  fill: none !important;
}

.font-12 {
  font-size  : 0.8rem;
  line-height: 1.1rem;
}

.font-14 {
  font-size  : 0.875rem;
  line-height: 1.5rem;
}

.font-16 {
  font-size: 1rem;
}

.pl-1 {
  padding-left: 3px;
}

.text-grey {
  color: #97a6ba;
}

.bodr-white {
  border: 1px solid white !important;
}

.center {
  align-items    : center;
  display        : flex;
  justify-content: center;
}

.cards-box .card.hide {
  visibility: hidden;
}

/* inputButton */

.AddedButton {
  /* This bit sets up the horizontal layout */
  display       : flex;
  flex-direction: row;

  box-shadow: 0px 10px 20px -8px #323c5a;

  /* I've used padding so you can see the edges of the elements. */
  padding   : 5px;
  background: white;
}

.AddedButton input {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border   : none;
}

.AddedButton input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

.AddedButton button {
  /* Just a little styling to make it pretty */
  border    : none;
  background: #e43969;
  color     : white;
}

/* Cards Carousal */

.banner-slider-container div.card {
  width: 100%;
}

.cards-box {
  position: relative;
}

.cards-box .card {
  height       : 100%;
  max-width    : 80vw;
  background   : #ffffff;
  border-radius: 14px;
  cursor       : pointer;
}

.cards-box .card.hide {
  visibility: hidden;
}

.cards-box .card:not(.hide) {
  position  : absolute;
  top       : 0;
  right     : 0;
  transition: all 0.8s cubic-bezier(0.18, 0.98, 0.45, 1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
}

.cards-box .card:not(.hide)[data-slide="0"] {
  transform: translate(0px, 1px) scale(1);
  z-index  : 6;
  opacity  : 1;
}

.cards-box .card:not(.hide)[data-slide="1"] {
  transform: translate(-3%, 1px) scale(0.9);
  z-index  : 5;
  opacity  : 0.9;
}

.cards-box .card:not(.hide)[data-slide="2"] {
  transform: translate(-12%, 1px) scale(0.8);
  z-index  : 4;
  opacity  : 0.8;
}

.cards-box .card:not(.hide)[data-slide="3"] {
  transform: translate(-18%, 1px) scale(0.7);
  z-index  : 3;
  opacity  : 0.7;
}

.cards-box .card:not(.hide)[data-slide="4"] {
  transform: translate(-25%, 1px) scale(0.6);
  z-index  : 2;
  opacity  : 0.6;
}

.cards-box .card:not(.hide)[data-slide="5"] {
  transform: translate(-25%, 1px) scale(0.6);
  z-index  : 1;
  opacity  : 0.5;
}

.cards-box .card:not(.hide)[data-slide="0"] {
  transition: all 0.32s cubic-bezier(0.18, 0.98, 0.45, 1);
}

.content-placeholder {
  padding: 10px;
  height : 100%;
  width  : auto;
}

.content-placeholder img {
  border-radius: 14px;
  object-fit   : cover;
  height       : 100%;
}

.BannerNav {
  background-color: white !important;
  font-size       : 15px;
  padding         : 5px;
  margin          : 0px 5px;
}

.BannerNav.active,
.BannerNav:hover {
  background: #e43969 !important;
  color     : white !important;
}

/* Markets */
.Heading {
  font-size     : 32px;
  font-style    : normal;
  font-weight   : 600;
  line-height   : 47px;
  letter-spacing: 0px;
  text-align    : center;
}

.stock-type span {
  font-size        : 14px;
  font-style       : normal;
  font-weight      : 500;
  letter-spacing   : 0px;
  text-align       : center;
  /* padding       : 10px; */
  cursor           : pointer;
  transition       : all 0.2s;
  margin           : 0 17px;
  position         : relative;
}

.stock-type span:hover {
  color: #e43969;
}

.stock-type span.Active {
  border-bottom: 1px solid #e43969;
  color        : #e43969;
}

.stock-type span.Active:after {
  content   : " ";
  position  : absolute;
  width     : calc(100% - 20px);
  height    : 1px;
  background: #e43969 !important;
  bottom    : -8px;
  transform : translateX(-50%);
  left      : 50%;
}

.stock-type,
.stock-company {
  overflow-y    : auto;
  padding-bottom: 15px;
}

.stock-type::-webkit-scrollbar,
.stock-company::-webkit-scrollbar {
  display: none;
}

.stock-company div img {
  object-fit: contain;
  height    : 3rem;
  cursor    : pointer;
  filter    : grayscale(1);
  transition: all 0.2s;
}

.stock-company div.Active img,
.stock-company div img:hover {
  filter: none !important;
}

/* .d-flex.stock-company div {
  margin: 25px 15px;
  position: relative;
} */

/* .stock-company div.Active:after {
  content: " ";
  height: 10px;
  width: 10px;
  background: #e43969 !important;
  position: absolute;
  border-radius: 50%;
  top: -9px;
  right: -14px;
}*/

.css-eg0mwd-MuiSlider-thumb:before,
.css-7drnjp::before {
  background: #E5386A !important;
}

.css-1aznpnh-MuiSlider-root,
.MuiSlider-track.css-1t2bqnt,
.MuiSlider-rail.css-b04pc9 {
  color : #e2e8f0 !important;
  height: 8px !important;
}

.css-1tfve6q-MuiSlider-mark,
.css-6cwnna-MuiSlider-mark {
  width : 2px !important;
  color : white !important;
  height: 8px !important;
}

.css-yafthl-MuiSlider-markLabel,
.css-1eoe787-MuiSlider-markLabel {
  font-size     : 8px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 12px;
  letter-spacing: 0px;
  text-align    : center;
}

.css-1kz0hui-MuiSlider-valueLabel {
  display: none !important;
}

.borderRight {
  border-right: 1px solid rgb(127, 130, 137);
}

.TextLabel {
  font-size     : 18px;
  font-style    : normal;
  font-weight   : 600;
  line-height   : 47px;
  letter-spacing: 0px;
  text-align    : left;
}

.textComp {
  line-height   : 18px;
  font-size     : 12px;
  font-weight   : 400;
  margin-top    : -30px;
  letter-spacing: 6px !important;
}

.apexcharts-yaxis,
#LineChart .apexcharts-xaxis,
.apexcharts-toolbar {
  /* display: none !important; */
}

.graphPrice {
  font-size     : 24px;
  font-style    : normal;
  font-weight   : 600;
  line-height   : 36px;
  letter-spacing: 0px;
}

.graphPer {
  color        : #43af53;
  margin-bottom: 0px;
}

.stock-amount-main p {
  color: #98a5ba;
}

.stock-amount-slider {
  /* margin-left: 10px; */
  /* width: 425px ; */
}

div#market_select {
  /* color         : #E5386A;
  font-weight   : bolder;
  font-size     : 32px;
  padding-top   : 0;
  padding-bottom: 0;
  line-height   : 1.2;
  padding-left  : 0; */
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
font-family: "futura-bold";
/* identical to box height, or 150% */


/* gray/800 */

color: #252F3F;

}

h2.stock-amount-main-text strong {
  padding-right: 7px;
}
.header {
  font-style: normal !important;
font-weight: 800 !important;
font-size: 64px !important;
line-height: 72px !important;
/* or 112% */
margin-top:140px;

letter-spacing: -0.04em !important;

/* white */

color: #FFFFFF !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  /* font-family   : "futura-bold" !important;
  font-size     : 2.5rem;
  line-height   : 3rem;
  letter-spacing: -0.01em; */
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* gray/800 */


  width: 100%;
  border: 1px solid #eaeef2;
}

div#market_select~fieldset {
  border: none;
}

span.MuiSlider-track.css-1gv0vcd-MuiSlider-track {
  color: #E5386A;
}

.chart-area {
  /* background: #f5f6f8; */
  margin-top: -4px;
  padding   : 50px;
  padding-top: 0;
}
.border {
  border:1px solid #eaeef2
}

.chart-area-numbers {
  margin-bottom : 15px;
  padding-bottom: 25px;
}

.stock-company {
  /* justify-content: space-between; */
}
.navlogo{
  margin-left: 68px !important;
}
.bottom-text i {
  color       : #e5386a;
  margin-right: 5px;
}

a.btn_secondary {
  background     : #e5386a;
  color          : white !important;
  text-decoration: none;
width: 150px;
  padding        : 17px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  border-radius  : 10px;
  margin         : 40px 0 0;
  margin-bottom: 140px;
  margin-top: 80px;
}

.graph-loader {
  height: 4px;
}

.css-eglki6-MuiLinearProgress-root {
  background-color: #e4396917 !important;
}

.css-5ir5xx-MuiLinearProgress-bar1,
.css-1r8wrcl-MuiLinearProgress-bar2 {
  background-color: #E5386A !important;
}

.bulletText:before {
  content  : "•";
  color    : #44b153;
  font-size: 26px;
}

.bulletText {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  /* .sliding {
    justify-content: center !important;
  } */
  .selectassetdiv{
    border-radius: 10px;
    margin-right: 16px;
    /* margin-left: 80px !important; */
    height: 450px;
    /* margin-left: 55px; */
    /* width: 480px !important; */
  /* margin-left: 30px; */
  background-color: white;
  }

}
.selectassetdiv{
  border-radius: 10px;
  margin-right: 16px;
  height: 490px;
  /* margin-left: 55px; */
  /* margin-left: 80px !important; */

  /* width: 480px !important; */
/* margin-left: 20px; */
background-color: white;
}
@media only screen and (max-width: 767px) {
  .borderRight {
    border-right: 0px;
  }
  /* .selectassetdiv{
    border-radius: 10px;
    margin-right: 10px;
    height: 500px;
    width: 480px !important;


    margin-left: 55px;
  } */

  .mobile-hidden {
    display: none;
  }

  .css-1aznpnh-MuiSlider-root {
    width: 95% !important;
  }

  .mb-p-0 {
    padding: 0 !important;
  }

  .chart-area {
    padding: 15px !important;
  }
}

.apexcharts-xaxistooltip.apexcharts-xaxistooltip-bottom.apexcharts-theme-light.apexcharts-active {
  display: none;
}

/* .apexcharts-tooltip {
  display: none !important;
} */
.apexcharts-series path {
  filter: none;
}

#SvgjsText1267 {
  display: none;
  height : 0
}

/* .selectassetdiv{
  border-radius: 10px;
  margin-right: 10px;
  height: 500px;
  margin-left: 55px;
} */

.middleDiv{
  margin-top: 30px;
}
.middletext{
  margin-top: 70px;
  /* background-color: #97a6ba; */
  margin-left: 48px;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 64px !important;
  line-height: 72px !important;
  /* or 112% */
  
  letter-spacing: -0.04em !important;
  
  /* white */
  
}
/* .chardiv{
  width: 930px !important;
  height: 750px;
  border-radius: 10px;
  margin-right: 80px;
  background-color: white;
} */
.cardsdiv{
  margin-bottom: 104px;
}
.secondiv{
  /* margin-left: 400px; */
}
.expectChange{
  width: 259px !important;
    margin-right: 16px;
    height: 98px
}
.address{
 color:  #98a5ba;
 font-weight: bold;
}
.address1{
  color:  #98a5ba;
  font-weight: bold;
  margin-top: 13px;
 }
.logos{
  color:  #98a5ba;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-top: 24px !important;
}

.addressdiv{
/* height: 400px; */
background-color: white;
border-bottom: 1px solid #E2E8F0 !important;

/* border-bottom: inset; */

}
.footerdiv{
  /* height: 600px; */
  background-color: white;
  border-bottom: inset;
  
  }
.contactus{
  background     : #e5386a;
  color          : white !important;
  text-decoration: none;
  min-width      : 100%;
  padding        : 17px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  border-radius  : 10px;
  margin-bottom: 30px;
  margin         : 40px 0 0;
 
}
.msg{
  font-weight: 800;
  font-size: 2.2rem;
  color: #252F3F
  ;
}
.msgcol{
  margin-top: 120px !important;
}
.Link{
  text-decoration: none;
}
/* .expectRevdiv{
  display: grid;
  background-color: white;
    justify-content: center;
    align-items: center;
    width:230px !important;
margin-left: 10px;
    height: 124px;
    border-radius: 10px;
} */
@media (min-width: 992px)
{
  .expectRevdiv{
    display: grid;
    background-color: white;
      /* justify-content: center; */
      align-items: center;
      width:47.666667%  !important;
  margin-left: 16px;
      height: 124px;
      border-radius: 10px;
  }
  .expectChngdiv{
    display: grid;
    width:47.666667% !important;
    /* margin-left: 30px; */
    background-color: white !important;
      /* justify-content: center; */
      align-items: center;
      height: 124px;
  
      border-radius: 10px;
  } 
}
.helpicon{
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}


.imagediv{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 63px;
    width: 180px;
    margin-left: 5px;
    border-radius: 10px;
}
.imagediv:hover{
  background: #FFF5F8;
border: 1px solid #E92A5E !important;
}
.disclaimer{
  margin-top: 8px;
  font-size: 14px;
}
.dis{
  margin-top: 24px !important;
  font-weight: 800;
  margin-top: 40px !important;
}
.disclaimer{
  color: #9FA6B2
  ;
}
.footertags{
font-style: normal;
font-weight: bolder;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

/* letter-spacing: -0.01em; */

color: #E92A5E;
}
.tagdiv{
  display: grid;

}
.tagdiv1{
  display: grid;
  margin-right: 60px;
  margin-left: 17px !important

}





/* @media screen 
  and (min-device-width: 1559px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .chardiv{
      width: 930px !important;
      height: 750px;
      border-radius: 10px;
      margin-right: 80px;
      background-color: white;
    }
} */
@media only screen  and (max-width :  576px) {
  .selectassetdiv{
    border-radius: 10px;
    margin-right: 10px;
    height: 500px;
    /* margin-left: 55px; */
    width: 280px !important;
  /* margin-left: 80px; */
  background-color: white;
  }
  
   }
   @media (max-width: 1200px){
   .chardiv{
    /* width: 890px !important; */
    height: 730px;
    border-radius: 10px;
    /* margin-right: 10px; */
    background-color: white;
   
    width: 65.333333% !important;

  }
 
}
  @media (min-width: 992px){
    .chardiv{
     /* width: 890px !important; */
     height: 730px;
     border-radius: 10px;
     /* margin-right: 10px; */
     background-color: white;
    
     width: 64.333333% !important;
 
   }
  
   
  }


   .chardiv{
    /* width: 890px !important; */
    height: 730px;
    border-radius: 10px;
    /* margin-right: 10px; */
    background-color: white;
  }
.rating{
  color:#9FA6B2;
  margin-top: 20px;
}
.ratingdiv{
  background-color: #F4F5F7;
  display: flex;
  border-radius: 10px;
  margin-bottom: 30px !important;
  /* margin-top: 5px !important; */
}
.marginLeftHead{
  margin-left: 68px !important;
}
.containermargin{
  margin-left: 80px !important;
  margin-right: 80px !important;

}
/* .container-fluid{
  margin-left: 80px !important;
  margin-right: 80px !important;

} */
.marginLeftHead{
  margin-left: 68px !important;
}
.marginLeft{
  margin-left: 80px !important;
}
.marginRight{
  margin-right: 80px !important;
}
.marginfourty{
  margin-left: 28px;
  margin-right: 28px;
}
.marginfright{
margin-right: 40px;
}
.marginleft{
  margin-left: 80px !important
}
.margineghity{
  margin-left: 68px !important;
  margin-right: 68px !important;
}
.displayflex{
  display: flex;
  justify-content: space-between;
}
.amount{
/* width: 200px; */
}
.flexbar{
  display: flex;
  /* margin-right: 29; */
}
.logorow{
  margin-left: 68px !important;
margin-bottom: 64px !important;
margin-right: 40px !important;
}

.footerow{
  margin-left: 80px !important;
  margin-right: 80px !important;
}
.addressrow{
  margin-left: 68px !important;
  margin-right: 50px !important;
}
.space{
  margin-left: 15px;
}
.lastfooter{
  align-items: center;
  margin-top: 8px !important;
  margin-bottom: 87px !important;
}

.cardsrow{
  margin-left: 75px !important;
  margin-right: 65px !important
}
.nogutter {
  /* margin-left: 0 !important; */
  --bs-gutter-x: 0 !important;
}

.sliderrow{
  margin-left: 30px !important;
    /* margin-right: 0px !important; */

}
.select{
  border-radius: 8px !important;
}
.logofooter{
  margin-top: 73px !important;
}
.msgcol1{
  margin-top: 73px !important;
}

.borderline{
  border: 1px solid #E2E8F0;
}
.amount{
  margin-bottom: 15px;
}
.css-1k51tf5-MuiTooltip-tooltip {
  
  background-color: #252F3F !important;
  /* padding: 20px 10px 20px 10px; */

  border-radius: 10px !important;
  padding: 16px !important;
  font-style: normal !important;
font-weight: 500 !important;
font-size: 14px !important;
line-height: 20px !important;
/* or 143% */
width: 80% !important;

letter-spacing: -0.04em !important;

color: #FFFFFF !important;
 
}
/* .css-1k51tf5-MuiTooltip-tooltip {
  background-color: yellow !important;
  border-radius: 4px;
  color: #fff;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  padding: 4px 8px;
  font-size: 0.6875rem;
  max-width: 300px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  position: relative;
} */